                <div id="home" class="container-fluid h-100">
                    <div class="row h-100 justify-content-center align-items-center">
                        <div class="col-4 one">
                            <div class="row h-100 justify-content-center">
                                <div class="col-sm-4 one-in">
                                    <div class="no-shape">
                                        <img class="animation" src="gfx/home_cta_bg.svg"/>
                                        <a class="link" href="#">Awesome</a>
                                    </div>
                                </div>
                            </div>
                        </div>                                             
                    </div>
                </div>


