                <div id="home" class="container-fluid h-100">
                    <div class="row h-100 justify-content-center align-items-center">
                        <div class="col-4 one">
                            <div class="row h-100 justify-content-center">
                                <div class="col-sm-6 one-in">
                                    <div class="no-shape">
                                        <img class="animation move-home" src="gfx/home.svg"/>
                                        <a class="link home-link" href="#">Home</a>
                                    </div>
                                </div>
                                <div class="col-sm-6 one-in">
                                    <div class="no-shape">
                                        <img class="animation move-about" src="gfx/about.svg"/>
                                        <a class="link about-link" href="#">About</a>
                                    </div>
                                </div>
                                <div class="col-sm-6 one-in">
                                    <div class="no-shape">
                                        <img class="animation move-projects" src="gfx/projects.svg"/>
                                        <a class="link projects-link" href="#">Projects</a>
                                    </div>
                                </div>
                                <div class="col-sm-6 one-in">
                                    <div class="no-shape">
                                        <img class="animation move-contact" src="gfx/contact.svg"/>
                                        <a class="link contact-link" href="#">Contact</a>
                                    </div>
                                </div>
                            </div>
                        </div>                                             
                    </div>

                    <div class="row home-container">
                        <div class="col-xs-12">
                            <div id="home-sidenav" class="home-sidenav side-container horizontal-container">
                                <a href="#" class="home-closebtn">&times;</a>
                                <a href="#">This is Home Container</a>
                            </div>
                        </div>
                    </div>

                    <div class="row about-container">
                        <div class="col-xs-12">
                            <div id="about-sidenav" class="about-sidenav side-container">
                                <a href="#" class="about-closebtn">&times;</a>
                                <a href="#">This is About Container</a>
                            </div>
                        </div>
                    </div>

                    <div class="row contact-container">
                        <div class="col-xs-12">
                            <div id="contact-sidenav" class="contact-sidenav side-container horizontal-container">
                                <a href="#" class="contact-closebtn">&times;</a>
                                <a href="#">This is Contact Container</a>
                            </div>
                        </div>
                    </div>

                    <div class="row projects-container">
                        <div class="col-xs-12">
                            <div id="projects-sidenav" class="projects-sidenav side-container">
                                <a href="#" class="projects-closebtn">&times;</a>
                                <a href="#">This is Project Container</a>
                            </div>
                        </div>
                    </div>
                </div>

                


