                <div id="home" class="container-fluid h-100">
                    <div class="row h-100 justify-content-center align-items-center">
                        <div class="col-4 one">
                            <div class="row h-100 justify-content-center">
                                <div class="col-sm-6 one-in">
                                    <div class="no-shape">
                                        <img class="animation move-home" src="gfx/home.svg"/>
                                        <a class="link" href="#">Home</a>
                                    </div>
                                </div>
                                <div class="col-sm-6 one-in">
                                    <div class="no-shape">
                                        <img class="animation move-about" src="gfx/about.svg"/>
                                        <a class="link" href="#">About</a>
                                    </div>
                                </div>
                                <div class="col-sm-6 one-in">
                                    <div class="no-shape">
                                        <img class="animation move-projects" src="gfx/projects.svg"/>
                                        <a class="link" href="#">Projects</a>
                                    </div>
                                </div>
                                <div class="col-sm-6 one-in">
                                    <div class="no-shape">
                                        <img class="animation move-contact" src="gfx/contact.svg"/>
                                        <a class="link" href="#">Contact</a>
                                    </div>
                                </div>
                            </div>
                        </div>                                             
                    </div>
                </div>

                <div id="my-sidenav" class="side-nav">
                    <a href="#" class="close-btn">&times;</a>
                    <a href="#">About</a>
                    <a href="#">Services</a>
                    <a href="#">Clients</a>
                    <a href="#">Contact</a>
                </div>

                <!-- Use any element to open the sidenav -->
                <span class="open-menu">open</span>

                <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
                <div id="main">
                ...
                </div>


